@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


// *
// {
//     box-sizing: border-box;
//     border: 1px solid black;
// }
  

@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'shrikhandregular';
    src: url('../../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Fonts=========================================
$font-logo-title:'shrikhandregular';
$font-txt:'robotoregular';

h1
{
    font-family: $font-logo-title;
}


h2, h3, h4, p, li
{
    font-family: $font-txt;

}

body{
    width: 500px;
    margin:auto;
}



// Colors========================================
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey: rgb(53,53,53);
$color-grey2: lighten($color-grey, 65%);
$color-grey3: lighten($color-grey, 75%);

//Media Queries==================================
$breakpoint:(
    mobile: 599px,
);


@mixin mobile-only{
    @media screen and (max-width: map-get($breakpoint, mobile)){
        @content;
    };
}

//image==========================================
$image:(
    1:"../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash 380 x 253.jpg",
    2:"../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash380x316.jpg",
    3:"../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash380x193.jpg",
    4:"../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash380x260.jpg",
);


@mixin url-image($images){
    @each $i, $url in $images {
        &:nth-of-type(#{$i}){
            background: url(map-get($images, $i)) no-repeat;
        }
    }
}
//==============================================

$radius:(
    menu: 1rem,
    propal: 1rem,
    btn: 10rem
);

header{
    text-align: center;
}

.localisation{
    background-color: $color-grey2;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0%;
    margin-bottom: 0%;
    box-shadow: inset 0 2px 4px -3px $color-grey;
    & i{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.introduction{
    background-color: $color-grey3;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 3em;
    color: $color-grey;
    & p{
        word-wrap: break-word;
    }

}
article{
    background-color: $color-grey3;
}
main {
    height: 100%;
}

.btn {
    cursor: pointer;
    display: block;
    width: fit-content;
    margin:auto;
    padding: 0.5rem 2rem;
    border-radius: map-get($radius,btn);
    text-align:center;
    color: white;   
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient($color-secondary, 20%,$color-primary);
    box-shadow: 0px 4px 4px $color-grey2;
}

.restaurant {    
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 193px;
    border-radius:  map-get($radius,menu);
    position: relative;
    box-shadow: 0px 4px 4px $color-grey;
    @include url-image($image);

}

.description{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-left: 4px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.89);
    Color:black;
    font-size: 0.8em;
    & h3{
        margin-top: 5px;
        margin-bottom: 1px;
    }
    & p{
        margin-top: 1px;
        margin-bottom: 2px;
    }
}



aside {
    & ol{
        list-style: none;
        counter-reset: li;
        & p{
            display: inline-block;
            width: 90%;
            line-height: 4;
            margin-top: 15px;
            margin-bottom: 15px;    
            background-color: $color-grey3;
            align-content: center;
            border-radius: map-get($radius, propal);
            box-shadow: 2px 4px 4px $color-grey2, -1px -4px 4px $color-grey3;
        }
        & li {
            counter-increment: li;
        }
        & i{
            padding-left: 20px;
            padding-right: 20px;
            color: $color-grey;
        }
        & li::before {
            content: counter(li);
            color: white;
            display: inline-block;
            text-align: center;
            width:1em;
            margin-left:-1em;
            background-color: $color-primary;
            border-radius: 50%;
            
        }
    }
}

article{
    width: 100%;
}

footer{
    background-color: $color-grey;
    color:white;
    & ul{
        list-style: none;
    }
    & i{
        margin-left: -2em;
        margin-right: 1em;
    }
}
