@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


// *
// {
//     box-sizing: border-box;
//     border: 1px solid black;
// }

body{
    width: 90%;
    min-width: 500px;
    margin:auto;

}

main {
    height: 100%;
}

// Colors========================================
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey: rgb(53,53,53);
$color-grey2: lighten($color-grey, 65%);
$color-grey3: lighten($color-grey, 75%);

// Fonts=========================================
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$font-logo-title:'Shrikhand', cursive;
$font-txt:'Roboto', sans-serif;

h1 {
    font-family: $font-logo-title;
}

h2, h3, h4, h5, p, li, div, a {
    font-family: $font-txt;
}

a{
    text-decoration: none;
}

h5{
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: normal;
    & .line{
        margin-top: 2px;
        width: 35px;
        border-top: 3px solid $color-tertiary;
    }
}

//Media Queries==================================
$breakpoint:(
    tablet: 768px,
    desktop: 1199px
);

@mixin tablet{
    @media all and (min-width: map-get($breakpoint, tablet)){
        @content;
    };
}
@mixin desktop{
    @media all and (min-width: map-get($breakpoint, desktop)){
        @content;
    };
}


//image==========================================
$image-home:(    
    1:"../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash 380 x 253.jpg", //La palette du goût
    2:"../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash380x316.jpg", // La note enchantée
    3:"../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash380x193.jpg", // A la française
    4:"../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash380x260.jpg", // Le délice des sens
);

$image-menu:(
    1:"../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash-menu.jpg", //La palette du goût
    2:"../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash-menu.jpg", // La note enchantée
    3:"../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash-menu.jpg", // A la française
    4:"../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-menu.jpg", // Le délice des sens
);

@mixin url-image-home($images){
    @each $i, $url in $images {
        & a:nth-of-type(#{$i}) div:first-child {
            background: url(map-get($images, $i)) no-repeat;
            max-width: 100%;
        }
    }
}
@mixin url-image-menu($images){
    @each $i, $url in $images {
        & #img__prez#{$i} {
            background: url(map-get($images, $i)) no-repeat;
            background-size: cover;
            position: relative;
            height: 30rem;
        }
    }
}

//Button ======================================
$radius:(
    menu: 1rem,
    tag: 4rem,
    btn: 10rem,
    propal: 1rem
);

.btn {
    cursor: pointer;
    display: block;
    margin-left:8rem;
    margin-right: 8rem;
    margin-top: 20px;
    padding: 0.3rem;
    line-height: 3em;
    border-radius: map-get($radius,btn);
    text-align:center;
    color: white;   
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient($color-secondary, 20%,$color-primary);
    box-shadow: 2px 8px 8px $color-grey2;
}

//==============================================

.header{
    @include tablet{
        display: flex;
        h1{
            margin-left: 3rem;
        }
    }
}

header{
    text-align: center;
    position: relative;

    & .fa-arrow-left{
        cursor: pointer;
        position: absolute;
        left: 2rem;
        top:0.8rem;
        font-size: 1.6rem;
        color: black;
    }
    
    & .localisation{
        background-color: $color-grey2;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 0%;
        margin-bottom: 0%;
        box-shadow: inset 0 2px 4px -3px $color-grey;
        @include tablet{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 6rem;
            height: 2rem;
            width: 20rem;
                
            p{
                margin-top: auto;
                margin-bottom: auto;
                padding-top: 0.4rem;
            }
        }

        & i{
            padding-left: 20px;
            padding-right: 20px;
            @include tablet{
                padding-left: 0;
            }
        }


    }
}

.main {
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
main{
    // width: 100%;

    @include url-image-menu($image-menu);
        & h1 {
        position: absolute;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 45px;
        padding-left: 20px;
        padding-bottom: 0px;
        width: 100%;
        background-color: $color-grey3;
        border-radius: map-get($radius, tag) map-get($radius, tag) 0 0;
        & i {
            position: absolute;
            right: 3rem;
            font-weight: normal;
            &:hover{
                font-weight: bold;
            }
        }
    }
}


.introduction{
    background-color: $color-grey3;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 3em;
    color: $color-grey;
    @include tablet{
        flex: 1 auto;
        order:1 ;

    }
    & p{
        display: inline-block;
        margin:auto;
        line-height: 1.2;
        width: 70%;
        text-align: center;
        overflow: auto ;
    }
}
.container{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
aside {
    @include tablet{
        flex: 1 auto;
        order:2;

    }
    & h2{
        padding-top: 20px;
        padding-left: 50px;
    }
    & ol{
        list-style: none;
        counter-reset: li;
        
        & p{
            display: inline-block;
            width: 90%;
            line-height: 4;
            margin-top: 15px;
            margin-bottom: 15px;    
            background-color: $color-grey3;
            font-weight: bold;
            align-content: center;
            border-radius: map-get($radius, propal);
            box-shadow: 0.5rem 0.5rem 0.6rem $color-grey2, -1px -4px 4px $color-grey3;
        }
        & li {
            counter-increment: li;
            cursor: pointer;
            // &:hover{

            // }
        }
        & i{
            padding-left: 30px;
            padding-right: 20px;
            color: $color-grey;
        }
        & li::before {
            content: counter(li);
            position: relative;
            left: 0.6rem;
            color: white;
            display: inline-block;
            text-align: center;
            font-size: 0.7rem;
            padding: 0.2rem 0.4rem;
            background-color: $color-primary;
            border-radius: 50%;            
        }
    }
}


article{
    background-color: $color-grey3;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 55px;
    
    @include tablet{
        order: 3;
    }
    @include url-image-home($image-home);
    & h2{
        padding-top: 0px;
        padding-left: 60px;
    }
    & .restaurant{
        width: 380px;
        margin-left: auto;
        margin-right: auto;

        &__img{    
            cursor: pointer;
            position: relative;
            margin-top: 15px;
            height: 180px;
            border-radius:  map-get($radius,menu) map-get($radius,menu) 0 0;

            &--new{
                position: absolute;
                right: 10px;
                top: 10px;
                width: 90px;
                height: 30px;
                text-align: center;
                line-height: 1.8;
                color: darken($color-tertiary, 35%);
                background-color: $color-tertiary;
                font-weight: bold;
                border-radius: 2px;
            }
        }
        &__description{
            cursor: pointer;
            position: relative;
            border-radius: 0 0 map-get($radius,menu) map-get($radius,menu);
            padding-top: 0.6rem;
            padding-bottom: 1rem;
            margin-bottom: 10px;
            padding-left: 7px;
            background-color: white;
            font-size: 0.8em;
            box-shadow: 2px 5px 5px $color-grey2, -2px 0 5px $color-grey2;
            & h3{
                margin-top: 5px;
                margin-bottom: 1px;
                margin-left: 5px;
                color:$color-grey;
                font-weight: bold;
            }
            & p{
                margin-top: 1px;
                margin-bottom: 2px;
                margin-left: 5px;
                color:$color-grey;
            }
            & i{
                cursor: pointer;
                position: absolute;
                font-size: 1.2rem;
                font-weight: lighter;
                // border: 1px solid $color-grey;
                color:$color-grey;
                right: 2rem;
                top : 0.7em;
                &:hover{
                    font-weight: bold;
                }
            }
            &--arrounded{
                border-radius: map-get($radius, menu);
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                @include tablet{
                    width: 20rem;
                }
            }
            & span{
                position: absolute;
                right: 4rem;
                bottom: 1rem;
                font-weight: bold;
            }
        }

    }
}

footer{
    background-color: $color-grey;
    padding-bottom: 10px;
    font-size: 0.6rem;

    color:white;    
    & h1{
        margin-top: 0;
        padding-top: 20px;
        padding-left: 40px;
    }
    & ul{
        list-style: none;
    }
    & i{
        width: 2em;
    }
    & a{
        color:white;
        font-style: normal;
    }
}
