@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.main-stop {
  stop-color: #9356DC;
}

.alt-stop {
  stop-color: #FF79DA;
}

@keyframes menu {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.menu > div:nth-of-type(1) {
  animation: menu 2s 1.3s both;
}
.menu > div:nth-of-type(2) {
  animation: menu 2s 1.6s both;
}
.menu > div:nth-of-type(3) {
  animation: menu 2s 1.9s both;
}
.menu > div:nth-of-type(4) {
  animation: menu 2s 2.2s both;
}

.container > a:nth-of-type(1) {
  animation: menu 2s 3.3s both;
}
.container > a:nth-of-type(2) {
  animation: menu 2s 3.6s both;
}
.container > a:nth-of-type(3) {
  animation: menu 2s 3.9s both;
}
.container > a:nth-of-type(4) {
  animation: menu 2s 4.2s both;
}

@keyframes custom-loading {
  0% {
    transform: translateY(0) rotateY(0) scaleY(0);
  }
  80%, 100% {
    transform: translateY(-10px) rotateY(1turn) scaleY(100%);
    opacity: 0.5;
  }
}
@keyframes opacity-loading {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10001;
  overflow: hidden;
  background: #f4f4f4;
  opacity: 1;
  animation: opacity-loading 3s linear both;
}
.loading-spinner .cloche {
  z-index: 10002;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -90px;
  margin-top: -111px;
}
.loading-spinner .plate {
  z-index: 10001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -107px;
  margin-top: 11px;
}
.loading-spinner .smoke {
  box-sizing: border-box;
  z-index: 10003;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  stroke: url(#gradient);
  stroke-width: 2;
  animation: custom-loading 3s linear both;
}
.loading-spinner .smoke--1 {
  margin-left: -30px;
  margin-top: -150px;
}
.loading-spinner .smoke--2 {
  margin-left: -8px;
  margin-top: -160px;
}
.loading-spinner .smoke--3 {
  margin-left: 14px;
  margin-top: -150px;
}

body {
  width: 90%;
  margin: auto;
}

@media all and (min-width: 768px) {
  .main {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.introduction {
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  line-height: 3em;
  color: #353535;
}
@media all and (min-width: 768px) {
  .introduction {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.introduction p {
  display: inline-block;
  margin: auto;
  line-height: 1.2;
  width: 70%;
  text-align: center;
  overflow: auto;
}

@media all and (min-width: 768px) {
  aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
aside h2 {
  padding-top: 20px;
  padding-left: 50px;
}
aside ol {
  list-style: none;
  counter-reset: li;
}
aside ol p {
  display: inline-block;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  font-weight: bold;
  align-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.6rem #dbdbdb, -1px -4px 4px #f4f4f4;
}
aside ol p:hover {
  background-color: #e8e8e8;
  box-shadow: 0.5rem 0.5rem 0.4rem #dbdbdb, -1px -4px 2px #f4f4f4;
}
aside ol li {
  counter-increment: li;
  cursor: pointer;
  min-width: 30vh;
}
aside ol i {
  padding-left: 30px;
  padding-right: 20px;
  color: #353535;
}
aside ol li::before {
  content: counter(li);
  position: relative;
  left: 0.6rem;
  bottom: 2.5rem;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  background-color: #9356DC;
  border-radius: 50%;
}

article {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 55px;
}
@media all and (min-width: 768px) {
  article {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
article a:nth-of-type(1) div:first-child {
  background: url("../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash 380 x 253.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
article a:nth-of-type(2) div:first-child {
  background: url("../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash380x316.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
article a:nth-of-type(3) div:first-child {
  background: url("../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash380x193.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
article a:nth-of-type(4) div:first-child {
  background: url("../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash380x260.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
article h2 {
  padding-top: 0px;
  padding-left: 60px;
}
article .restaurant {
  width: 90%;
  min-width: 30vh;
  max-width: 60vh;
  margin-left: auto;
  margin-right: auto;
}
article .restaurant__img {
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  height: 180px;
  border-radius: 1rem 1rem 0 0;
}
article .restaurant__img--new {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  color: #2c9c81;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}
article .restaurant__description {
  cursor: pointer;
  position: relative;
  border-radius: 0 0 1rem 1rem;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
  margin-bottom: 10px;
  padding-left: 7px;
  background-color: white;
  font-size: 0.8em;
  box-shadow: 2px 5px 5px #dbdbdb, -2px 0 5px #dbdbdb;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
article .restaurant__description:hover .check-box {
  transform: translateX(5px);
}
article .restaurant__description:hover .check-box .fa-check-circle {
  transform: rotate(360deg);
}
article .restaurant__description:hover .title-subtitle-price {
  width: 75%;
}
article .restaurant__description .title-subtitle-price {
  width: 100%;
  transition: width 0.2s;
}
article .restaurant__description .title-subtitle-price h3 {
  margin-top: 5px;
  margin-bottom: 1px;
  margin-left: 5px;
  color: #353535;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .restaurant__description .title-subtitle-price .subtitle {
  display: flex;
  justify-content: space-between;
}
article .restaurant__description .title-subtitle-price .subtitle p {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 5px;
  color: #353535;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .restaurant__description .title-subtitle-price .subtitle span {
  padding-right: 1rem;
  padding-left: 0.5rem;
  font-weight: bold;
}
article .restaurant__description svg {
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  width: 1.5rem;
  height: auto;
  right: 2rem;
  top: 0.7em;
  stroke: #353535;
  flex-grow: 0;
}
article .restaurant__description svg:hover {
  fill: url(#gradient);
  stroke: url(#gradient);
}
article .restaurant__description .check-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 85px;
  background-color: #99E2D0;
  transform: translateX(90px);
  transition: transform 0.2s;
}
article .restaurant__description .check-box .fa-check-circle {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -0.8rem;
  font-size: 1.6rem;
  color: white;
  transform: rotate(0);
  transition: transform 0.5s;
}
article .restaurant__description--arrounded {
  border-radius: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 768px) {
  article .restaurant__description--arrounded {
    width: 20rem;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2, h3, h4, h5, p, li, div, a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h5 {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: normal;
}
h5 .line {
  margin-top: 2px;
  width: 35px;
  border-top: 3px solid #99E2D0;
}

.btn {
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 15rem;
  margin-top: 20px;
  padding: 0.3rem;
  line-height: 3em;
  border-radius: 10rem;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  background: linear-gradient(to top left, #FF79DA 20%, #9356DC);
  box-shadow: 2px 8px 8px #dbdbdb;
}
.btn:hover {
  background: linear-gradient(to top left, #FF79DA 30%, #9356DC);
}

@media all and (min-width: 768px) {
  .header {
    display: flex;
  }
  .header h1 {
    margin-left: 3rem;
  }
}

header {
  text-align: center;
  position: relative;
}
header .fa-arrow-left {
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 0.8rem;
  font-size: 1.6rem;
  color: black;
}
header .localisation {
  background-color: #dbdbdb;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0%;
  margin-bottom: 0%;
  box-shadow: inset 0 2px 4px -3px #353535;
}
@media all and (min-width: 768px) {
  header .localisation {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6rem;
    height: 2rem;
    width: 20rem;
  }
  header .localisation p {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.4rem;
  }
}
header .localisation i {
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (min-width: 768px) {
  header .localisation i {
    padding-left: 0;
  }
}

footer {
  background-color: #353535;
  padding-bottom: 10px;
  font-size: 0.6rem;
  color: white;
}
footer h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
}
footer ul {
  list-style: none;
}
footer i {
  width: 2em;
}
footer a {
  color: white;
  font-style: normal;
}

@media all and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

main #img__prez1 {
  background: url("../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash-menu.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 30rem;
}
main #img__prez2 {
  background: url("../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash-menu.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 30rem;
}
main #img__prez3 {
  background: url("../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash-menu.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 30rem;
}
main #img__prez4 {
  background: url("../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-menu.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 30rem;
}
@media all and (min-width: 768px) {
  main #img__prez1 {
    background: url("../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash-800x533.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
  main #img__prez2 {
    background: url("../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash-800x1000.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
  main #img__prez3 {
    background: url("../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash-800x533.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
  main #img__prez4 {
    background: url("../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash-800x548.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
}
@media all and (min-width: 1199px) {
  main #img__prez1 {
    background: url("../../imgs/Redim/jay-wennington-N_Y88TWmGwA-unsplash-1200x800.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
  main #img__prez2 {
    background: url("../../imgs/Redim/stil-u2Lp8tXIcjw-unsplash-1200x1500.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
  main #img__prez3 {
    background: url("../../imgs/Redim/toa-heftiba-DQKerTsQwi0-unsplash-1200x800.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
  main #img__prez4 {
    background: url("../../imgs/Redim/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash-1200x822.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30rem;
  }
}
main h1 {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 45px;
  padding-left: 20px;
  padding-bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border-radius: 4rem 4rem 0 0;
}
main h1 svg {
  position: absolute;
  right: 3rem;
  bottom: 0.5rem;
  font-weight: normal;
  stroke: black;
  width: 1.6rem;
  height: auto;
  z-index: 1;
}
main h1 svg:hover {
  fill: url(#gradient);
  stroke: url(#gradient);
}

/*# sourceMappingURL=style.css.map */
