//Button ======================================
.btn {
    cursor: pointer;
    display: block;
    margin: auto;
    max-width: 15rem;
    margin-top: 20px;
    padding: 0.3rem;
    line-height: 3em;
    border-radius: map-get($radius,btn);
    text-align:center;
    color: white;   
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient(to top left, $color-primary 20%,$color-secondary);
    box-shadow: 2px 8px 8px $color-grey2;
    &:hover{
        background: linear-gradient(to top left, $color-primary 10%, $color-secondary);
    }
}
.heart{ //only the animation part, the layout, paint parts are in base and works partials
    &--empty{
        z-index:1;
        stroke: black;
    }
    &:hover{
        .heart--full{
            opacity:1;
            transform: scale(1);
        }
    }
    &--full{
        z-index:2;
        fill: url(#gradient);
        stroke: url(#gradient);
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s;
    }
}