body {
    width: 100%;
}
.main {//main homepage=============================
    display:flex;
    flex-direction: column;
    @include desktop{
        display: grid;
        grid-template-columns: 1.2fr 2fr;
    }
    @include tv{
        grid-template-columns: 1.2fr 3.5fr;
    }
}
.introduction {
    background-color: $color-grey3;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 3em;
    color: $color-grey;
    &--tablet{
        display: none;
    }
    &--mobile{
        display:block;
    }
    @include desktop {
        &--mobile{
            display: none;
        }
        &--tablet{
            display: block;
        }
    }
    & p {
        display: inline-block;
        margin:auto;
        line-height: 1.2;
        width: 70%;
        text-align: center;
        overflow: auto ;
    }
}
aside {
    margin-left: 0.6rem;
    margin-right: 0;
    margin-bottom: 2rem;
    & h2 {
        padding-top: 20px;
        padding-left: 7vh;
    }
    @include tablet{
        margin-left: auto;
        margin-right: auto;
        & h2 {
            padding-left: 4vh;
        } 
    }
    @include desktop{
        margin-left: 0;
        margin-right: 0;

    }
    @include tablet{
        margin-left: auto;
        margin-right: auto;
    }
    & ol {
        padding-left: 0;
        list-style: none;
        counter-reset: li;
        & p {
            display: inline-block;
            margin: auto;
            min-width: 80vw;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;    
            background-color: $color-grey3;
            font-weight: bold;
            font-size: 1.2rem;
            border-radius: map-get($radius, propal);
            box-shadow: 0.5rem 0.5rem 0.6rem $color-grey2, -1px -4px 4px $color-grey3;
            @include desktop{
                min-width: 20rem;
            }
            &:hover {
                background-color: darken($color-grey3, 5%);
                box-shadow: 0.5rem 0.5rem 0.4rem $color-grey2, -1px -4px 2px $color-grey3;
                & i {
                    color: $color-primary;
                }
            }
        }
        & li {
            counter-increment: li;
            cursor: pointer;
            min-width: 30vh;
        }
        & i {
            font-size: 1.2rem;
            padding-left: 30px;
            padding-right: 20px;
            color: $color-grey;
        }
        & li::before {
            content: counter(li);
            position: relative;
            left: 1rem;
            color: white;
            font-size: 1.2rem;
            padding: 0.2rem 0.6rem;
            background-color: $color-primary;
            border-radius: 50%;            
        }
    }
}
article {//shared by main and secondary pages
    background-color: $color-grey3;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 55px;
    & h2 {
        padding-top: 0px;
        padding-left: 4vh;
    }
    @include url-image-home($image-home);
    @include tablet {
        grid-column-start: 2;
        grid-column-end: 4;
        & h2{
            padding-left: 2vh;
        }
    }
    // @include desktop{

    // }
    & .restaurant{
        width: 90%;
        min-width: 20vmax;
        @include desktop {
            max-width: 50vh;
        }
        margin-left: auto;
        margin-right: auto;
        &__img {    
            cursor: pointer;
            position: relative;
            margin-top: 15px;
            height: 180px;
            border-radius:  map-get($radius,menu) map-get($radius,menu) 0 0;
            &--new {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 90px;
                height: 30px;
                text-align: center;
                line-height: 1.8;
                color: darken($color-tertiary, 35%);
                background-color: $color-tertiary;
                font-weight: bold;
                border-radius: 2px;
            }
        }
        &__description { //shared by main and secondary pages
            cursor: pointer;
            position: relative;
            border-radius: 0 0 map-get($radius,menu) map-get($radius,menu);
            padding-top: 0.6rem;
            padding-bottom: 1rem;
            margin-bottom: 10px;
            padding-left: 7px;
            background-color: white;
            font-size: 1.2rem;
            box-shadow: 2px 5px 5px $color-grey2, -2px 0 5px $color-grey2;
            display: flex;
            align-items: stretch;
            overflow: hidden;
            & h3 {
                margin-top: 5px;
                margin-bottom: 1px;
                margin-left: 5px;
                color:$color-grey;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & .subtitle {
                display: flex;
                justify-content: space-between;
                & p {
                    margin-top: 1px;
                    margin-bottom: 2px;
                    margin-left: 5px;
                    color:$color-grey;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & span {
                    padding-right: 1rem;
                    padding-left: 0.5rem;
                    font-weight: bold;
                }
            }
            & .heart{
                position: absolute;
                right: 0.8rem;
                top: 0.6rem;
                width: 1.6rem;
                height: auto;
            }
            &--arrounded {
                border-radius: map-get($radius, menu);
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                font-size: 1rem;
                @include desktop{
                    max-width: 35rem;
                }
            }
        }        
    }
}

