//main menus pages==============================
main {
    @include url-image-menu($image-menu);
    @include tablet{ //media queries
        @include url-image-menu($image-menu-tablet);
    }
    @include desktop{//media queries
        @include url-image-menu($image-menu-desktop);
    }
    .tag{
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        background-color: $color-grey3;
        border-radius: map-get($radius, tag) map-get($radius, tag) 0 0;
        & h1{
            // padding-top: 45px;
            padding-left: 20px;
            padding-bottom: 0px;
            padding-top: 12px
        }
        & .heart{
            position: absolute;
            right: 3vw;
            top: 1.2rem;
            width: 1.8rem;
            height: auto;
            & .main-stop {
                stop-color: $color-primary; // for svg gradient function purpose
            }
            & .alt-stop {
                stop-color: $color-secondary; // for svg gradient function purpose
            }
        }
    }
    .courses{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        @include desktop {
            max-width: 35rem;
        }
        & h5{
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: normal;
        }
        & .line{
            margin-top: 2px;
            margin-bottom: 32px;
            width: 35px;
            border-top: 3px solid $color-tertiary;
        }
    }
}