//main menus pages==============================
main {
    @include url-image-menu($image-menu);
    @include tablet{
        @include url-image-menu($image-menu-tablet);
    }
    @include desktop{
        @include url-image-menu($image-menu-desktop);
    }
        & h1 {
        position: absolute;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 45px;
        padding-left: 20px;
        padding-bottom: 0px;
        width: 100%;
        box-sizing: border-box;
        background-color: $color-grey3;
        border-radius: map-get($radius, tag) map-get($radius, tag) 0 0;
        & svg {
            position: absolute;
            right: 3rem;
            bottom: 0.5rem;
            font-weight: normal;
            stroke: black;
            width:1.6rem;
            height: auto;
            z-index:1;
            &:hover {
                fill: url(#gradient);
                stroke: url(#gradient);
                // opacity: 1;
                }
            // }
            // &::after{
            //     content:"";
            //     position: relative;
            //     top:0;
            //     right: 0;
            //     bottom:0;
            //     left:0;
            //     fill: url(#gradient);
            //     stroke: url(#gradient);
            //     opacity: 0;
            //     z-index:-1;
            //     transition: opacity 250ms;
            // }
        }
    }
}
