// animations=====================================
$number-of-receipe: 4+1;//Need to be adjusted in function of the maximum of number of receipe there is in the menus +1.
$number-of-restaurant: 4;//Need to be adjusted in function of the number of restaurants represented +1.
$anim-delay: 0.3s;

@keyframes menu {
    0% {
        transform: translateY(30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity:100%;
    }
}

.menu {// display menu's animation=======================
        @for $i from 2 through $number-of-receipe {
            &>div:nth-of-type(#{$i}){
            animation: menu 1s 1s+$anim-delay*$i both;
            }
        }
}

.container { //display restaurant's animation=================
    @for $i from 1 through $number-of-restaurant {
        &>a:nth-of-type(#{$i}) {
            animation: menu 2s 3s+$anim-delay*$i both;
        }
    }
}

//Loading-spinner ======================================
@keyframes custom-loading {
    0% { 
        transform: translateY(0) rotateY(0) scaleY(0);
    }
    80%, 100% { 
        transform: translateY(-10px) rotateY(1turn) scaleY(1);
        opacity:0.5;

    }
}
@keyframes opacity-loading {
    0%, 80%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
    
}
.loading-spinner{
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 10001;
    overflow: hidden;
    background: $color-grey3;
    opacity: 1;
    animation: opacity-loading 3s linear both;
    & .cloche{
        z-index: 10002;        
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left:-90px;
        margin-top:-111px;
    }
    & .plate{
        z-index:10001;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -107px; // moitié du width du svg
        margin-top: 11px;
    }
    & .smoke{
        box-sizing: border-box;
        z-index: 10003;        
        position: absolute;
        top: 50%;
        left:50%;
        transform-origin: bottom;
        stroke: url(#gradient);
        stroke-width: 2;
        animation: custom-loading 3s linear both;
        &--1{
            margin-left: -30px;
            margin-top: -150px;           
        }
        &--2{
            margin-left: -8px;
            margin-top: -160px;
        }
        &--3{
            margin-left: 14px;
            margin-top: -150px;
        }
    }
}
.menu{// check-box move to the left's animation============
    & .restaurant__description{        
        & .check-box {
            position: absolute;
            display: flex;
            right: 0;
            top:0;
            height: 100%;
            width: 20%;
            background-color: $color-tertiary;
            transform: translateX(100%);
            transition: transform 0.2s;
            & .fa-check-circle {
                cursor: pointer;
                margin: auto;
                font-size: 1.6rem;
                color: white;
                transform: rotate(0);
                transition: transform 0.5s ;
                @include tablet{
                    right: 1rem;
                }
            }
        }
        &:hover {
            & .check-box {
                transform: translateX(0%);
                & .fa-check-circle{
                    transform: rotate(360deg);
                }
            }
            & .title-subtitle-price {
                width: 80%;
            }
        }
        .title-subtitle-price {
            width: 100%;
            transition: width 0.2s;
        }
    }
}
.heart{ //only the animation part, the layout, paint parts are in base and works partials
    &--empty{
        z-index:1;
        stroke: black;
    }
    &:hover{
        .heart--full{
            opacity:1;
            transform: scale(1);
        }
    }
    &--full{
        z-index:2;
        fill: url(#gradient);
        stroke: url(#gradient);
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s;
    }
}