//Media Queries==================================
@mixin tablet {
    @media all and (min-width: map-get($breakpoint, tablet)){
        @content;
    };
}
@mixin desktop {
    @media all and (min-width: map-get($breakpoint, desktop)){
        @content;
    };
}
@mixin tv {
    @media all and (min-width: map-get($breakpoint, tv)){
        @content;
    };
}
//image==========================================
@mixin url-image-home($images) {
    @each $i, $url in $images {
        & a:nth-of-type(#{$i})>section:first-of-type>div:first-child {
            background: url(map-get($images, $i)) no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}
@mixin url-image-menu($images) {
    @each $i, $url in $images {
        & #img__prez#{$i} {
            background: url(map-get($images, $i)) no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            height: 30rem;
        }
    }
}

