// Colors========================================
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey: rgb(53,53,53);
$color-grey2: lighten($color-grey, 65%);
$color-grey3: lighten($color-grey, 75%);

//Media Queries==================================
$breakpoint:(
    tablet: 700px,
    desktop: 1023px,
    tv: 1400px
);

//images==========================================
$image-home:(    
    1:"../../imgs/jay-wennington-N_Y88TWmGwA-unsplash 380 x 253.jpg", //La palette du goût
    2:"../../imgs/stil-u2Lp8tXIcjw-unsplash380x316.jpg", // La note enchantée
    3:"../../imgs/toa-heftiba-DQKerTsQwi0-unsplash380x193.jpg", // A la française
    4:"../../imgs/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash380x260.jpg", // Le délice des sens
);

$image-menu:(
    1:"../../imgs/jay-wennington-N_Y88TWmGwA-unsplash-menu.jpg", //La palette du goût
    2:"../../imgs/stil-u2Lp8tXIcjw-unsplash-menu.jpg", // La note enchantée
    3:"../../imgs/toa-heftiba-DQKerTsQwi0-unsplash-menu.jpg", // A la française
    4:"../../imgs/louis-hansel-shotsoflouis-qNBGVyOCY8Q-menu.jpg", // Le délice des sens
);
$image-menu-tablet:(
    1:"../../imgs/jay-wennington-N_Y88TWmGwA-unsplash-800x533.jpg", //La palette du goût
    2:"../../imgs/stil-u2Lp8tXIcjw-unsplash-800x1000.jpg", // La note enchantée
    3:"../../imgs/toa-heftiba-DQKerTsQwi0-unsplash-800x533.jpg", // A la française
    4:"../../imgs/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash-800x548.jpg", // Le délice des sens
);
$image-menu-desktop:(
    1:"../../imgs/jay-wennington-N_Y88TWmGwA-unsplash-1200x800.jpg", //La palette du goût
    2:"../../imgs/stil-u2Lp8tXIcjw-unsplash-1200x1500.jpg", // La note enchantée
    3:"../../imgs/toa-heftiba-DQKerTsQwi0-unsplash-1200x800.jpg", // A la française
    4:"../../imgs/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash-1200x822.jpg", // Le délice des sens
);
$radius:(
    menu: 1rem,
    tag: 3rem,
    btn: 10rem,
    propal: 1rem
);