.container{
    @include tablet{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    @include tv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--menu{
        @include desktop{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}