
.header{
    @include tablet{
        display: flex;
        h1{
            margin-left: 3rem;

        }
    }
}

header{
    text-align: center;
    position: relative;

    & .fa-arrow-left{
        cursor: pointer;
        position: absolute;
        left: 2rem;
        top:0.8rem;
        font-size: 1.6rem;
        color: black;
    }
    
    & .localisation{
        background-color: $color-grey2;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 0%;
        margin-bottom: 0%;
        box-shadow: inset 0 2px 4px -3px $color-grey;
        @include tablet{
            position: absolute;
            right : 3rem;
            top: 1.5rem;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 6rem;
            height: 2rem;
            width: 20rem;
                
            p{
                margin-top: auto;
                margin-bottom: auto;
                padding-top: 0.4rem;
            }
        }
        & i{
            padding-left: 20px;
            padding-right: 20px;
            @include tablet{
                padding-left: 0;
            }
        }
    }
}

